<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Dashboard</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<div class="container mt-4">

    <h2>Panel de Control</h2>
    <hr>

    <div class="row">

        <div class="col-md-4">
            <div class="card border-primary">
                <div class="card-body text-center">
                    <h4>Categorías</h4>
                    <p>Administrar categorías de ingresos y gastos</p>

                    <a th:href="@{/categoria/listado}"
                       class="btn btn-primary">
                        Ingresar
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-success">
                <div class="card-body text-center">
                    <h4>Movimientos</h4>
                    <p>Registrar ingresos y gastos</p>

                    <a th:href="@{/movimiento/listado}"
                       class="btn btn-success">
                        Ingresar
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-warning">
                <div class="card-body text-center">
                    <h4>Metas</h4>
                    <p>Administrar metas de ahorro</p>

					<a th:href="@{/movimiento/metas}"
					   class="btn btn-warning">
					    Ingresar
					</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div th:if="${alert}" th:utext="${alert}"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>
</html>